
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Top header */
.header {
  height: 70px;
  background-color: #1f2937;
  color: white;

  display: flex;
  align-items: center;

  padding-left: 25px;

  font-size: 24px;
  font-weight: bold;
}


.main-container {
  flex: 1;
  display: flex;
}


.sidebar {
  width: 220px;

  border-right: 1px solid #d1d5db;

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}


.sidebar button {
  padding: 12px;

  border: 1px solid #d1d5db;

  background: white;

  cursor: pointer;

  border-radius: 6px;

  text-align: left;
}

.sidebar button:hover {
  background: #f3f4f6;
}

.sidebar button.active {
  background: #2563eb;
  color: white;
}


.content {
  flex: 1;

  padding: 20px;

  overflow: auto;
}