<div class="pie-wrapper">

  <h2>{{ title }}</h2>

  <div *ngIf="slices.length" class="chart-container">

    <!-- Pie Chart -->
    <div class="chart-area">

      <svg
        viewBox="0 0 260 260"
        width="260"
        height="260">

        <path
          *ngFor="let slice of slices; let i=index"
          [attr.d]="slice.path"
          [attr.fill]="slice.color"
          [style.opacity]="getOpacity(i)"
          stroke="white"
          stroke-width="2"
          (mouseenter)="onHover(i)"
          (mouseleave)="onLeave()">
        </path>

        <text
          x="130"
          y="122"
          text-anchor="middle">

          {{
            hoveredSlice
            ? hoveredSlice.label
            : title
          }}

        </text>

        <text
          x="130"
          y="145"
          text-anchor="middle">

          {{
            hoveredSlice
            ? hoveredSlice.value + ' Students'
            : ''
          }}

        </text>

      </svg>

    </div>

    <div class="legend">

      <div
        *ngFor="let slice of slices"
        class="legend-item">

        <span
          class="legend-color"
          [style.background]="slice.color">
        </span>

        <span class="legend-text">
          {{ slice.label }}
        </span>

      </div>

    </div>

  </div>

</div>