<h2 class="title">
  Student Academic Records
</h2>

<div class="filter-bar">

    <div class="filter-row">

        <div class="field-group">
            <label class="filter-label">Column</label>
            <select [(ngModel)]="selectedColumn" (change)="onColumnChange()">
                <option value="">Select Column</option>
                <option *ngFor="let key of tableKeys" [value]="key">
                    {{ key }}
                </option>
            </select>
        </div>

        <div class="field-group">
            <label class="filter-label">Operator</label>
            <select [(ngModel)]="selectedOperator">
                <option value="contains">Contains</option>
                <option *ngIf="isnumber" value="range">Range</option>
            </select>
        </div>

    </div>

    <!-- CONTAINS -->
    <div *ngIf="selectedOperator === 'contains'" class="filter-row">

        <div class="field-group">
            <label class="filter-label">Search</label>
            <input [(ngModel)]="searchValue" placeholder="Enter value..." />
        </div>

        <div class="button-group">
            <button class="apply-btn" (click)="applyFilterUnified(searchValue)">
                Apply
            </button>
            <button class="reset-btn" (click)="resetFilter()">
                Reset
            </button>
        </div>

    </div>

    <!-- RANGE -->
    <div *ngIf="selectedOperator === 'range'" class="filter-row">

        <div class="field-group">
            <label class="filter-label">Min</label>
            <select [(ngModel)]="minValue">
                <option value="">Select Min value</option>
                <option *ngFor="let val of getMinOptions()" [value]="val">
                    {{ val }}
                </option>
            </select>
        </div>

        <div class="field-group">
            <label class="filter-label">Max</label>

            <select [(ngModel)]="maxValue">
                <option value="">Select Max value</option>

                <option *ngFor="let val of getMaxOptions()" [value]="val">
                    {{ val }}
                </option>

            </select>
        </div>

        <div class="button-group">
            <button class="apply-btn" (click)="applyFilterUnified(minValue, maxValue)">
                Apply
            </button>
            <button class="reset-btn" (click)="resetFilter()">
                Reset
            </button>
        </div>

    </div>

</div>
<table class="data-table">

    <thead>
        <tr>
            <th *ngFor="let key of tableKeys">
                {{ key }}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of data">

            <td *ngFor="let key of tableKeys">
                {{ item[key] }}
            </td>

        </tr>
    </tbody>

</table>