.dataset-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.dataset-section select,
.dataset-section button {
  padding: 8px;
}

.sorting-section {
  display: block;
  gap: 10px;
  margin-bottom: 20px;

}

.sorting-section select,
.sorting-section button {
  padding: 8px;
}

table {
  width: 60%;
  border-collapse: collapse;
  
}

th,
td {
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: left;
  
  
}

th {
  background-color: #f3f4f6;
}

.pagination-section {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.rule-row {
  display: flex;
  gap: 10px;      
  margin-bottom: 10px;  
}
.short-btn{
  margin-left: 10px;
}