<div class="sorting-section">
  <p class="section-title">Student Ranking & Sorting</p>

  <div *ngFor="let rule of sortConfigurations;let i = index" class="rule-row">
    <select [(ngModel)]="rule.column">
      <option value="">Select Column</option>
      <option *ngFor="let column of columns" [value]="column">{{ column }}</option>
    </select>

    <select [(ngModel)]="rule.order">
      <option value="ascending">Ascending</option>
      <option value="descending">Descending</option>
    </select>
    <button class="remove-btn" (click)="removeSortRule(i)">Remove</button>
  </div>

  <div class="button-group">

    <button class="add-btn" (click)="addSortRule()">
      Add Sort Rule
    </button>

    <button class="sort-btn" (click)="sortTable()">
      Sort
    </button>

    <button class="export-btn" (click)="exportExcel()">
      Export Excel
    </button>

  </div>
</div>

<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column }}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let row of tableData">
      <td *ngFor="let column of columns">{{ row[column] }}
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination-section">
  <button (click)="previousPage()">Previous</button>
  <span>Page {{ currentPage }}</span>
  <button (click)="nextPage()">Next</button>
</div>